#Shopcar-box{
    flex-direction: column;
    height:100%;display: flex;
    .Shopcar-top{
        height:.42rem;
        border-bottom:.01rem solid rgb(226, 222, 222);
        position: fixed;
        left:0;
        top:0;
        right:0;
        margin:auto;
        background:#fff;
        z-index:1000;
        .img1{
            display:block;
            width:.135rem;
            height:.075rem;
            position: absolute;
            top:.17rem;
            left:.13rem;
        }
        p{
            text-align:center;
            font-size:.16rem;
            color:#000;
            line-height:.42rem;
        }
        .img2{
            position: absolute;
            right:.13rem;
            top:.17rem;
            width:.18rem;
            height:.18rem;
            display:block;
        }
    }
    .shopcar-shopmsg{
        flex: 1;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width:.82rem;
            height:.82rem;
            display:block;
        }
        p{
            font-size:.14rem;
            color:#333;
            margin-top:.16rem;
        }
        button{
            display:block;
            width: 1.25rem;
            height:.36rem;
            font-size:.14rem;
            line-height:.36rem;
            color:#fff;
            border:none;
            margin-top:.23rem;
            background: #fe4070;
            border-radius: .2rem;
            text-align:center;
        }
    }
}
#Shopcarmsg-box{
    .i-active{
        background:url(../../../assets/shopcar-have.png) no-repeat;
        background-size:cover;
    }
    background:rgb(241, 239, 239);
    flex:1;
    .Shopcarmsg-top{
        padding-bottom:.8rem;
        &>p{
            background:#fff;
            padding:0 .08rem;
            height:.3rem;
            img{
                float: left;
                width:.15rem;
                height:.15rem;
                display:block;
                margin-top:.08rem;
            }
            i{
                float: left;    
                color: #fe4070;
                font-size:.12rem;
                line-height:.3rem;
                margin-left:.06rem;
            }
            u{
                
                color:rgb(168, 167, 167);
                line-height:.3rem;
                margin-left:.1rem;
                font-size:.1rem;
            }
        }
        &>b{
            margin-top:.08rem;
            display:block;
            background:#fff;
            height:.41rem;
            padding-left:.08rem;
            border-bottom:.01rem solid rgb(230, 227, 227);
            
            &>i{
                width:.2rem;
                height:.2rem;
                display:block;
                border-radius: 50%;
                float: left;
                margin-top:.12rem;
            }
            &>span{
                font-size:.1rem;
                color:#000;
                margin-left:.08rem;
                line-height:.41rem;
                text-align:left;
                float:left;
            }
            
        }
        ul{
           
            overflow-y: auto;
            
            li{
                height:1.04rem;
                padding:0 .12rem 0 .08rem;
                position: relative;
                background:#fff;
                display:flex;
                justify-content: space-between;
                border-bottom:.01rem solid rgb(236, 234, 234);
                &>i{
                    width:.2rem;
                    height:.2rem;
                    display:block;
                    border-radius: 50%;
                    margin-top:.12rem;
                    position: absolute;
                    top:.35rem;
                    left:.08rem;
                }
                img{
                    width:.84rem;
                    height:.84rem;
                    display:block;
                    margin-left:.25rem;
                    margin-top:.15rem;
                }
                .Shopcarmsg-ul{
                    width:2.33rem;
                    margin:.08rem  0 .1rem;
                    p{
                        width:2.33rem;
                        overflow: hidden;
                        white-space: nowrap;
                        text-align:left;
                        color:rgb(90, 88, 88);
                        height:.2rem;
                        line-height:.2rem;
                        s{
                            color: #fe4070;
                        }
                    }
                    &>b{
                        height:.12rem;
                        font-size:.1rem;
                        display: flex;
                        justify-content: space-between;
                    }
                    &>i{
                        display:flex;
                        justify-content: space-between;
                        height:.22rem;
                        margin-top:.08rem;
                        s{
                            i{
                                color: #fe4070;
                                font-size:.16rem;
                                line-height:.22rem;
                            }
                        }
                        &>b{
                            font-size:.12rem;
                            height:.12rem;
                            &>span{
                                height:.12rem;
                                width:.01rem;
                                margin:0 .06rem;
                                background:#ccc;
                                float: left;
                                margin-top:.04rem;
                            }
                            &>u{
                                float: left;
                            }
                        }
                        &>u{
                            font-size:.12rem;
                            text-align:right;
                        }

                    }
                    &>s{
                        display:flex;
                        justify-content: flex-start;
                        margin-top:.1rem;
                        b{
                            width:.22rem;
                            height:.22rem;
                            display:block;
                            border-radius: 50%;
                            background:url(../../../assets/jian.png) no-repeat;
                            background-size:cover;
                            border:.01rem solid #ccc;
                            box-sizing: border-box;
                        }
                        b.add{
                            background:url(../../../assets/jia.png) no-repeat;
                            background-size:cover;
                        }
                        i{
                            display:block;
                            width:.48rem;
                            height:.22rem;
                            text-align:content;
                            line-height:.22rem;
                        }
                    }
                }
            }
        }
        p.Shopcarmsg-avoid{
            height: .37rem;
            line-height:.37rem;
            color: #fe4070;
            display: flex;
            justify-content: flex-start;
            padding-left:.08rem;
            background:#fff;
           
            i{
               border:.01rem solid #fe4070;
               border-radius: 50%;
               text-align:center;
               display:block;
               width:.18rem;
               height:.18rem; 
               line-height:.18rem;
               margin-top:.08rem;
            }
            span{
                margin-left:.08rem;
            }
        }
    }
    .Shopcarmsg-bottom{
        height:.49rem;
        position: fixed;
        left:0;
        right:0;
        bottom:.49rem;
        margin:auto;
        background:#fff;
        border-bottom:.01rem solid rgb(240, 239, 239);
        line-height:.49rem;
        padding:0 .12rem 0 .08rem;
        i{
            width:.2rem;
            height:.2rem;
            display:block;
            border-radius: 50%;
            float: left;
            margin-top:.12rem;
            margin-top:.15rem;
        }
        span{
            float:left;
            font-size:.14rem;
            margin-left:.12rem;
        }
        s{
            float:left;
            margin-left:.11rem;
            color:rgb(165, 164, 164);
            font-size:.1rem;
        }
        u{
            float:left;
            font-size:.16rem;
            color: #fe4070;
            margin-left:.04rem;
        }
        button{
            float:right;
            display:block;
            width:1.25rem;
            height:.36rem;
            text-align:center;
            line-height:.34rem;
            border-radius: .2rem;
            margin-top:.06rem;
            border:none;
            background: #fe4070;
            color:#fff;
            box-sizing: border-box;
            font-size:.14rem;
        }
    }
}